body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-color: #f8f9fb;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    color: #004085;
    margin-bottom: 30px;
}

    .logo span {
        font-size: 12px;
        color: #007bff;
    }

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 12px 0;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

    .sidebar li:hover {
        color: #007bff;
    }

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Topbar */
.topbar {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.auth {
    text-align: right;
    font-size: 16px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

    .create-button:hover {
        background-color: #0056b3;
    }

.profile-icon {
    font-size: 28px;
    color: #aaa;
}

/* Body content */
.page-body {
    padding: 20px;
    background-color: #f0f0f0;
    flex: 1;
    overflow-y: auto;
}

.name {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
    text-decoration: none;
}

.name:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
