@{
    ViewData["Title"] = "Home Page";
}

    <section>
        <div class="d-flex justify-content-center align-items-center mt-75p">
            <div class="search-box">
                <ul class="nav nav-tabs mb-3 fw-bold text-uppercase justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Automobile</a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-white" href="#">Camioane</a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-white" href="#">Motociclete</a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-white" href="#">Altele</a>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label>Marcă</label>
                        <select class="form-select">
                            <option>Toate mărcile</option>
                                @model List<string>
                                @foreach (var brand in Model)
                                {
                                    <option>@brand</option>
                                }
                        </select>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label>Model</label>
                        <select class="form-select">
                            <option>Selectează marca</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label>Preț până la</label>
                        <select class="form-select">
                            <option>Toate prețurile</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label>Anul producerii de la</label>
                        <select class="form-select">
                            <option>Toți anii</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-5">
                        <label>Kilometraj până la kilometri</label>
                        <select class="form-select">
                            <option>Toate parcursurile</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-5">
                        <label>Tip combustibil</label>
                        <select class="form-select">
                            <option>Oricare</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-search text-white hov">
                    🔍 Afișează 403 rezultate
                </button>
            </div>
        </div>
    </section>