@{
    ViewData["Title"] = "Home Page";
}

    <section>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label>Marcă</label>
                        <select class="form-select">
                            <option>Toate mărcile</option>
                                @model List<string>
                                @foreach (var brand in Model)
                                {
                                    <option>@brand</option>
                                }

                    <div class="col-md-6 mb-4">
                        <label>Model</label>
                        <select class="form-select">
                            <option>Selectează marca</option>
                        </select>
                    </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label>Anul producerii de la</label>
                        <select class="form-select">
                            <option>Toți anii</option>
                        </select>
                    </div>
                    </div>
                    </div>
                </div>

    </section>